.nombre{
    justify-content: space-between;
   &{
    input{
        border: none;
        background-color: $gris;
        font-size: 5rem;
        text-align: center;
        color:$grisOscuro;
        font-weight: 500;
        @include tablet{
            font-size: 3rem;
        }
    }
    button,a{
        padding: 1rem;
    }
   } 

} 
#comentarios{
    border: none;
    background-color: $grisOscuro;
    font-size: 4rem;
    text-align: left;
    color:$gris;

    margin: 0 10% ;
    //font-weight: 500;
    width: 100rem;
    height: 30rem;
    @include tablet{
        font-size: 3rem;
        width: 32rem;
        height: 40rem;
    }
}
.canciones{ 
    &{
        input{

            background-color: #1a1a1a;
            color:$blanco;
            border: none;
            margin:5rem;
            padding:  2rem;
            width: 60rem;
            height: 10rem;
            @include tablet{

                width: 20rem;
                height: 20rem;
            }
        }
        h1{
            text-align: left;
            margin-left:3rem;
            font-weight: bold;
            font-size: 3rem;
            @include tablet{
                font-size:2rem;
            }
           }
           ul{
            list-style: none;
            li{
                border-bottom: 1px solid $grisOscuro;
                margin:1rem;
            }
           }
           p{
            margin: 4rem;
           }
           #añadir-cancion{
            display: flex;
            justify-content: center;
            align-items: center;
           }
           textarea{
            background-color: $gris;
            color: $blanco;
            border: .1rem solid $azul;
            width: 50rem;
            height: 4rem;
            margin: 1rem;
            text-align: center;
            padding: .5rem;
           }
    }
  
   border: 0.3rem solid $grisOscuro;
   border-radius: 5rem;
   margin: 1rem;
}